<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>admin</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <link href="../../static/fonts" th:href="@{../fonts}"/>
</head>

<body>
    <div class="well well-lg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5">
                    <span style="font-size: 22px">学生名单管理</span>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入姓名" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="background-color:rgb(187, 184, 184)">搜索</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default">添加学生信息
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <div style="height: 20px"></div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>出生年份</th>
                            <th>入学时间</th>
                            <th>学院</th>
                            <th>操作</th>
                        </tr>
                        <tr th:each="student : ${studentList.keySet()}">
                            <td th:text="${student.userid}">10001</td>
                            <td th:text="${student.username}">小黄</td>
                            <td th:text="${student.sex}">男</td>
                            <td th:text="${#dates.format(student.birthyear,'yyyy-MM-dd')}">1996-9-2</td>
                            <td th:text="${#dates.format(student.grade,'yyyy-MM-dd')}">2017-9-2</td>
                            <td th:text="${studentList.get(student).getCollegename()}">计算机系</td>
                            <td>
                                <button type="button" class="btn btn-info" style="padding: 1px 7px">修改</button>
                                <button type="button" class="btn btn-danger" style="padding: 1px 7px">删除</button>
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>10002</td>-->
                            <!--<td>小米</td>-->
                            <!--<td>女</td>-->
                            <!--<td>1995-9-14</td>-->
                            <!--<td>2017-9-2</td>-->
                            <!--<td>财经系</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-info" style="padding: 1px 7px">修改</button>-->
                                <!--<button type="button" class="btn btn-danger" style="padding: 1px 7px">删除</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>10003</td>-->
                            <!--<td>小陈</td>-->
                            <!--<td>女</td>-->
                            <!--<td>1996-9-13</td>-->
                            <!--<td>2017-9-2</td>-->
                            <!--<td>设计系</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-info" style="padding: 1px 7px">修改</button>-->
                                <!--<button type="button" class="btn btn-danger" style="padding: 1px 7px">删除</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>10004</td>-->
                            <!--<td>小华</td>-->
                            <!--<td>男</td>-->
                            <!--<td>1996-9-2</td>-->
                            <!--<td>2017-9-2</td>-->
                            <!--<td>设计系</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-info" style="padding: 1px 7px">修改</button>-->
                                <!--<button type="button" class="btn btn-danger" style="padding: 1px 7px">删除</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>10005</td>-->
                            <!--<td>小杨</td>-->
                            <!--<td>男</td>-->
                            <!--<td>1996-9-12</td>-->
                            <!--<td>2017-9-2</td>-->
                            <!--<td>设计系</td>-->
                            <!--<td>-->
                                <!--<button type="button" class="btn btn-info" style="padding: 1px 7px">修改</button>-->
                                <!--<button type="button" class="btn btn-danger" style="padding: 1px 7px">删除</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="display:flex;justify-content:center">
                    <nav>
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/js/jquery-3.2.1.min.js" th:src="@{../js/jquery-3.2.1.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{../js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $('.pagination li').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                if ($('.pagination li').eq(1).attr('class') == 'active') {
                    $('.pagination li').eq(0).addClass('disabled');
                } else {
                    $('.pagination li').eq(0).removeClass('disabled');
                }
                if ($('.pagination li').eq(3).attr('class') == 'active') {
                    $('.pagination li').eq(4).addClass('disabled');
                } else {
                    $('.pagination li').eq(4).removeClass('disabled');
                }
            })
        })
    </script>
</body>

</html>